@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');


body{
  background-color: #121212;
}

.login-box {
  background-color: #2b2b2b;
  width: 25%;
  border-radius: 10px;
  margin: auto;
  margin-top: 160px;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .login-box{
    min-width: 65%;
  }
}

@media only screen and (max-width: 1366px) {
  .login-box {
    width: 40%;
  }
}

#img {
  text-align: center;
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 70px;
}

#login-input{
  width: 80%;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
  background-color: #424242;
  color: white;
}

#login-input:focus {
  outline: none;
}

#login-button {
  max-width: 20%;
  border: none;
  background-color: #794bc4;
  border-radius: 10px;
  padding: 10px;
  padding-right: 120px;
  padding-left: 80px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}

#login-button:hover {
  cursor: pointer;
  background-color: #875ad1;
}

#login-button:focus {
  outline: none;
}
#h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}